// ------------- Colors ------------------------
$fontColor: #000000;
$disableFontColor: #C2C2C2;

$backColor: #D9D9D9;
$disableBackColor: #F2F2F2;
$cardBackColor: #FFFFFF;

$buttonColor: #FFFFFF;
$buttonBorderColor: #000000;

$requiredColor: #ff0000;

// ------------- Border / Font-family ----------
$borderRadius: 10px;
$fontFamily: Roboto, Helvetica, sans-serif;

// ------------- Icons -------------------------  
$icon-open-btn: url('../icons/folder.svg');
$icon-delete-btn: url('../icons/delete.svg');
$icon-calendar: url('../icons/calendar.svg');
$icon-email: url('../icons/mail.svg');
$icon-phone: url('../icons/phone.svg');
$icon-edit: url('../icons/edit.svg');
$icon-close-btn: url('../icons/close.svg');
$icon-profile: url('../icons/profile.svg');
$icon-arrow-left: url('../icons/arrow_left.svg');
$icon-arrow-right: url('../icons/arrow_right.svg');