.calendarTitle {
	h1 {
		text-align: center;
	}
}

.durationContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px 0;
	gap: 15px;
}

.calendarDuration,
.calendarWeeksContainer {
	h2 {
		text-align: center;
	}
}

.calendarHolidays {
	text-align: center;
}

.calendarWeeks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.holidaysContainer {
	text-align: center;

	.addYourHolidayContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
	}

}

.buttonContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin: 0px auto;
}

.holidaysListContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin: 30px 0;
}

@media (max-width: 710px) {

	.calendarTitle {
		h1 {
			font-size: 2em;
		}
	}

	.calendarDuration,
	.calendarWeeksContainer {
		h2 {
			font-size: 1.5em;
		}
	}

	.calendarHolidays {
		font-size: 1.5em;
	}

	.holidaysContainer {
		h3 {
			font-size: 1.1em;
		}
	}

	.durationContainer {
		justify-content: center;
	}
}