.calendarTitle {
	h1 {
		text-align: center;
	}
}

.durationContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px 0;
	gap: 15px;
}

.calendarDuration {
	h2 {
		text-align: center;
	}
}


@media (max-width: 710px) {

	.durationContainer {
		justify-content: center;
	}
}

.calendarWeeksContainer {
	h2 {
		text-align: center;
	}
}

.calendarWeeks {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}